.mainContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.textarea{
    width: 200px;
    height:200px;
}

.titlecontainer{
    padding-bottom: 11px;
}

.label{
       padding: 11px;
}

.editbutton{
cursor: pointer;
font-size: 12px;
/* padding-right: 9px; */

}

.editbutton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}