.accordion-container{
    Overflow-y: auto;
    display: flexbox;
    width: 240px;
    border: 1px solid;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background: url('../../images/pinkorange.png')
}

.accordion-container1{
    background: url('../../images/pinkorange.png')
}
/* .accordion-container2 {
    background: url('../../images/pinkorange.png')
} */

.accordion-container3 {
    background: url('../../images/white.png')
}
