.container {
    Overflow-y: auto;
    word-wrap: break-word;
    height: 225px;
    display: flexbox;
    width: 200px;
    border: 1px solid;
    align-items: center;
    border-radius: 7px;
    
}

.main-container{
/* background: url('../../images/pinkorange.png') */

}

.text-input{
    border-radius: 13px;
    width: 97%;
}