.mainContainer{
    position: fixed;
    top: 0;
    left: 2;

}

.linkedin{
    padding: 2px 0px 0px 12px
}

.github{
    padding: 0px 0px 0px 16px
}

.linkedin:hover{
       transform: scale(1.1);
    transition: transform 0.3s ease;
}

.github:hover{
       transform: scale(1.1);
    transition: transform 0.3s ease;
}