.mainContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.textarea{
    width: 200px;
    height:200px;
}

.titlecontainer{
    padding-bottom: 11px;
}

.editpost{
cursor: pointer;
padding-right: 9px;

}

