@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab &family=PT+Sans+Narrow&display=swap');

body{
    font-family: 'Josefin Slab', serif;
font-family: 'PT Sans Narrow', sans-serif;
/* background: url('../src/images/white.png'); */
background-color: rgb(245, 247, 254);
}

a{
    text-decoration: none;
    color: black;
}