/* .text{ 
	box-shadow: .6em 0 0 #05ffa3;
  margin: 2rem 1rem;
	width: 80ch;
  overflow: hidden;
  color: #05ffa3;
	white-space: nowrap;
	animation: caret .5s step-end infinite alternate,
             type 5s steps(23, end)
}



@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}

.mainContainer{
    background-color: black;
    height: 100vh;
} */


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.mainContainer{
  padding: 40px;
  background-color: #121212;  
}

.text {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
}

/* Animation */
.text{
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}