.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 10px 5px;
    font-size:18px;
    
}

.logout{
  color: white;
    padding-right: 9px;
}

.outerDiv{
   
}

.logout:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
}

.post{
    cursor:pointer;
    padding-right: 9px;
}

.post:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
}

.login{
    cursor:pointer;
    padding-right: 9px;
}
.login:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
}

.signup{
    cursor:pointer;
    padding-right: 9px;
    
}

.signup:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
}

.home{
    padding-right: 9px;
    justify-content: flex-start;
    align-items: flex-start;
}

.home:hover{
  transform: scale(1.1);
  transition: transform .3s ease;
  font-weight: bold;
}

.profile{
    padding-right: 9px;
}

.profile:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
}

.demo{
    cursor:pointer;
    padding-right: 9px;
}

.demo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    font-weight: bold;
}

.search{
    padding-right: 9px;
    padding-bottom: 3px;
}